<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
  
<div class="row justify-content-center">
  <div class="col-12 col-md-12 col-lg-8 pb-5">


                  <!--Form with header-->

                  <form (ngSubmit)="f.form.valid &&onSubmit()" #f="ngForm">
                      <div class="card border-primary rounded-0">
                          <div class="card-header p-0">
                              <div class="bg-info text-white text-center py-2">
                                  <h5> Semester Details </h5>
                                  
                              </div>
                          </div>
                          <div class="card-body p-5">

                              <!--Body-->
                              <div class="form-group">
                                  <div class="input-group mb-2">
                                      <div class="input-group-prepend">
                                          <div class="input-group-text">Year</div>
                                      </div>
                                      <input type="number" class="form-control" id="year" name="year" placeholder="Current Studding Year" [(ngModel)]="formdata.year" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Course</div>
                                    </div>
                                    <input type="text" class="form-control" id="year" name="course" placeholder="SE/IT" [(ngModel)]="formdata.course" required>
                                </div>
                              </div>

                            <div class="form-group">
                              <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                      <div class="input-group-text">Semester</div>
                                  </div>
                                  <input type="number" class="form-control" id="semetser" name="semetser" placeholder="1 or 2" [(ngModel)]="formdata.semetser" required>
                              </div>
                            </div>

                              <div class="text-center">
                                  <input type="submit" id="submit-btn" value="Show Results" class="btn btn-info btn-block rounded-3 py-1">
                              </div>
                          </div>

                      </div>
                  </form>
                  <!--Form with header-->


              </div>
</div>
</div>