<!DOCTYPE html>
<html ng-app="UserModule">

<head>
    <meta charset="UTF-8">
    <title>Data Collection Form</title>

    <!--add dependancy url-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../styles/formone.css">
    <script src="../controllers/formOne-controller.js"></script>

</head>

<body ng-controller="loginController">
    <div class="container">

        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>SLIIT Data Collection</h2>
                   
                </div>
                <form id="Login" ng-submit="submit()">

                    <div class="form-group">
  
                        <input type="text" class="form-control" id="id" placeholder="SLIIT ID" ng-model="loginData.id">

                    </div>
                    <div class="form-group">
  
                        <input type="email" class="form-control" id="email" placeholder="SLIIT Email" ng-model="loginData.email">

                    </div>
                    <div class="form-group">
  
                        <input type="number" class="form-control" id="phone" placeholder="Personal Phone Number" ng-model="loginData.phone">

                    </div>
                   
                    <button type="submit" class="btn btn-primary">Submit Data</button>
                    
                </form>
            </div>
            
        </div>
    </div>
    </div>
    </div>
</body>

</html>