<!DOCTYPE html>
<html ng-app="UserModule">

<head>
    <meta charset="UTF-8">
    <title>ABC Login</title>

    <!--add dependancy url-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../styles/loginpageStyles.css">
    <script src="../controllers/loginPage-controller.js"></script>

</head>

<body ng-controller="loginController">
    <div class="container">

        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Admin Login</h2>
                    <p>Please enter your email and password</p>
                </div>
                <form id="Login" ng-submit="submit()">

                    <div class="form-group">


                        <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" ng-model="loginData.username">

                    </div>

                    <div class="form-group">

                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="loginData.password">

                    </div>
                    <div class="forgot">
                        <a href="#">Forgot password?</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    
                </form>
            </div>
            
        </div>
    </div>
    </div>
    </div>
</body>

</html>