<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
  <h2 class="text-center mail-title">SLIIT SSD Results</h2>
<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6 pb-5">


                  <!--Form with header-->

                  <form (ngSubmit)="f.form.valid &&onSubmit()" #f="ngForm">
                      <div class="card border-primary rounded-0">
                          <div class="card-header p-0">
                              <div class="bg-info text-white text-center py-2">
                                  <h3><i class="fas fa-sign-in-alt"></i> LogIn Form</h3>
                                  
                              </div>
                          </div>
                          <div class="card-body p-3">

                              <!--Body-->
                              <div class="form-group">
                                  <div class="input-group mb-2">
                                      <div class="input-group-prepend">
                                          <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                      </div>
                                      <input type="email" class="form-control" id="email" name="username" placeholder="User Name" [(ngModel)]="username" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="input-group mb-2">
                                      <div class="input-group-prepend">
                                          <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                                      </div>
                                      <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="password" required>
                                  </div>
                              </div>

                              <div class="text-center">
                                  <input type="submit" value="LogIn" class="btn btn-info btn-block rounded-0 py-2">
                              </div>
                          </div>

                      </div>
                  </form>
                  <!--Form with header-->


              </div>
</div>
</div>